<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMsg}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>