<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    </head>
    <body>
        {{>header}}
        {{>footer}}
    </body>
</html>